/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    position: absolute;
    /* min-height: 100%; */
    height: 100%;
    width: 100%;
    overflow: auto;
 }